# Package Files #
#*.jar
*.war
*.ear

*.class

.idea/
*.iml
.DS_Store

nb-configuration.xml
.checkstyle
.classpath
.project
.settings/
.springBeans
**/bin/**
**/testbin/**
**/target/**
**/target-ant/**
**/WEB-INF/classes/**

#.gitignore